body{    
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
}
.container > h1 {
    padding: 5% 0 2% 0;
    text-align: center;
}
.input-area{
    padding: 0 0 2% 0;
    text-align: right;
}

.task-area{
    border: 1px solid lightgray;
    padding: 1%;
}
.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative; 
}
.task-tabs div{
    padding: 0.8em 1em 0.8em 1em;
}
#under-line{
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 64px;
    left:0px;
    top:50px; /* 처음에 좌측 상단에서 날라와 붙는게 싫어서 셋팅*/
    padding:0;
    transition: 0.5s;
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 1em  0  0.8em  1em;
}
.task button{
    border: none;
    background: none;
}
.task-done{
    text-decoration: line-through;
}
.task-tabs div{
    cursor:pointer;
}

/*PC ver*/
@media all and (min-width:600px){
    body{margin: 8% 35%;}
}

/*모바일ver*/
@media all and (max-width:700px){
    body{margin: 10%;}
    #task-input{
        width: 88%;
    }
} 
